*{
    margin:0;
    padding:0;
}

body{
    background-color :aquamarine;
    padding :20px;
    display :flex;
    flex-direction :column;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1747738304810-5cb89f585299?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    background-colour: blue;
    color :white;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 30 px;
}
.signup{
    background-color :white;
    padding :20px;
    border : 2px solid black;
    border-radius: 10px;
    width :100%
    max-width: 400px;
}
.signup label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
.signup input{
    width: 100%;
    padding:5 px;
    margin-top: 5 px;
    border : 2px solid black;
}
#paragraph {
    background-color: lavender;
    padding:10px;
    font-size: 20px;
    color: purple;
    border : 2px solid black;
}

#paragraph:hover{
    background-color: burlywood;
    color:black;
}
#link{
    
}
